{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "transform-strict-mode",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}
